@font-face {
  font-family: "GE SS Two";
  src: url(../fonts/alfont_com_All-Genders-Light-v4.otf);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: end;
  font-family: "GE SS Two";
  /* font-size: 15px; */
  line-height: 1.5;
}
::selection {
  background: #ccc;
  color: #272727;
}

body::-webkit-scrollbar {
  width: 5px !important;
}
.f-p {
  padding: 40px 0px !important;
}
.redo {
  color: #611d1e !important;
}
.col-2 button {
  background-color: #611d1e !important;
  color: #fff !important;
}

.col-2 button:hover {
  background-color: inherit;
}
.result-container {
  /* Add your desired styles here */
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}
table td {
  direction: rtl;
}
