@font-face {
  font-family: "GE SS Two";
  src: url(../fonts/alfont_com_AlFont_com_GE_SS_Two_Light-2.otf);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: end;
  font-family: "GE SS Two";
  /* font-size: 15px; */
  line-height: 1.5;
}
::selection {
  background: #ccc;
  color: #272727;
}

body::-webkit-scrollbar {
  width: 5px !important;
}
.f-p {
  padding: 40px 0px !important;
}
.redo {
  color: #611d1e !important;
}
.col-2 button {
  background-color: #611d1e !important;
  color: #fff !important;
}

.col-2 button:hover {
  background-color: inherit;
}
.result-container {
  /* Add your desired styles here */
  padding: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}
table td {
  direction: rtl;
}
.carousel-control-next,
.carousel-control-prev {
  width: 3% !important;
}

.col-6 img {
  width: 100%;
  height: auto;
}

.col-8 img {
  width: 50%;
  height: 80%;
}

.icons {
  display: flex;
  justify-content: center;
}

.hov:hover {
  color: #616161;
}

.hov:hover i {
  color: #616161 !important;
}

.icons i {
  margin: 8px 12px;
  font-size: 20px;
  color: #611d1e;
}

.icons a {
  font: 0 !important;
}
